$grey-100: #FCFCFD; 
$grey-200: #F2F4F7; 
$grey-300: #E4E7EC; 
$grey-400: #D0D5DD; 
$grey-500: #98A2B3; 
$grey-600: #667085; 
$grey-700: #3C4352; 

$purple-100: #F1EFFF;
$purple-200: #CCC4FF;
$purple-300: #9989EF;
$purple-400: #725FDC;
$purple-500: #4E3BBA;

